<html>
    <%- include('shared/header')%>
    <body>
        <main class="container my-4" id="main-content">
            <p>
                Sorry! It seems that the page you have tried to view does not
                exist! If you believe this to be an error, please
                <a href="/contact">contact shiro</a>
            </p>
        </main>
    </body>
    <%- include('shared/footer') %>
</html>
