<html>
    <%- include('shared/header')%>
    <body>
        <main class="container my-4" id="main-content">
            <h2>You can contact me in a few ways:</h2>
            <h3>
                Via Discord (prefered): send me a DM or ping me in the DDRNG
                server. My username is '1h6', just dont send me a friend
                request.
            </h3>
        </main>
    </body>
    <%- include('shared/footer') %>
</html>
