<html>
    <%- include('shared/header')%>
    <body>
        <main class="container my-4" id="main-content">
            <h2>You can contact me in a few ways:</h2>
            <ol>
                <li>
                    Via Discord (prefered): send me a DM or ping me in the DDRNG
                    server. My username is '1h6', just dont send me a friend
                    request.
                </li>
                <li>
                    Via e-mail: you can send me an e-mail to
                    <a href="mailto:contact@overflow.fun"
                        >koneko@koneko.rocks</a
                    >
                </li>
            </ol>
        </main>
    </body>
    <%- include('shared/footer') %>
</html>
