<html>
    <%- include('shared/header')%>
    <body>
        <main class="container my-4" id="main-content">
            <h1>Welcome to DunDefMultitool!</h1>
            <hr />
            <p>
                DunDefMultitool (DDMT) is a website by shiro aimed to let you
                use (some of) the commands of Tbot on the web.
            </p>
            <p>It also contains other helpful tools and information.</p>
            <p>
                Also currently working on a way to speed up and improve
                DDPlanner. GLHF.
            </p>
            <p>
                If you want to send me feedback or need help, feel free to
                <a href="/contact">contact me</a>.
            </p>
            <p>
                <i
                    >Images used are sourced from
                    <a href="https://dungeondefenders.wiki.gg">the DD wiki</a>
                    and from
                    <a href="https://dundefplanner.com">Chakratos' DDPlanner</a
                    >. Many thanks!</i
                >
            </p>
        </main>
    </body>
    <%- include('shared/footer') %>
</html>
