---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import CreateMapPreview from "../../components/planner/CreateMapPreview.astro";
import GridContainer from "../../components/GridContainer.astro";

import maps from "../../maps.json";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
if (!session) {
    return Astro.redirect("/");
}

import { connectToDatabase } from "../../lib/db";
import { Build } from "../../lib/models/build";
await connectToDatabase();
const builds = await Build.find();
---

<Layout>
    <h1>Choose a map</h1>
    <p>{JSON.stringify(builds)}</p>
    <GridContainer>
        {
            maps.map((item, idx) => (
                <CreateMapPreview
                    name={item.name}
                    src={item.src}
                    callback={"startMapSession(" + idx + ")"}
                />
            ))
        }
    </GridContainer>
</Layout>

<script is:inline>
    function startMapSession(mapIdx) {
        console.log(mapIdx);
    }
</script>
