---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
if (!session) {
    return Astro.redirect("/");
}
---

<Layout>
    <h1>WIP</h1>
</Layout>
