---
import Layout from "../layouts/Layout.astro";
import Resistances from "../components/Resistances.astro";
import Bonus from "../components/Bonus.astro";
---

<Layout>
    <h1>Calculator</h1>
    <hr />
    <h2>Resistances</h2>
    <Resistances />
    <hr />
    <h2>Bonus</h2>
    <Bonus />
</Layout>
