---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Welcome to DunDefMultitool!</h1>
    <hr />
    <p>
        DunDefMultitool (DDMT) is a website by shiro aimed to let you use (some
        of) the commands of Tbot on the web.
    </p>
    <p>It also contains other helpful tools and information.</p>
    <p>
        Also currently working on a way to speed up and improve DDPlanner. GLHF.
    </p>
    <p>
        If you want to send me feedback or need help, feel free to contact me on
        the DDRNG discord.
    </p>
    <p>
        <i
            >DunDefMultitool is <a
                href="https://gitea.overflow.fun/koneko/dd-multitool"
                >open source</a
            > and is accepting revisions and changes from the community.<br /> Images
            are sourced from <a href="https://dungeondefenders.wiki.gg"
                >the DD wiki</a
            >
            and from
            <a href="https://dundefplanner.com">Chakratos' DDPlanner</a>. Many
            thanks!</i
        >
    </p>
</Layout>
