---
export const prerender = true;
---

<span>Sums and calculates bonus for player stat numbers.</span><br />
<span>Bonus will be summed and calculated the moment you start typing.</span>
<div class="bonus">
    <input
        type="text"
        id="bonus-numbers"
        style="width: 300px;"
        placeholder="123 456..."
    />
    <p id="bonusOutput"></p>
</div>

<script>
    const input = document.getElementById("bonus-numbers") as HTMLInputElement;
    const output = document.getElementById("bonusOutput");
    input.oninput = calculateBonus;

    function calculateBonus() {
        const numbersString = input.value.split(" ");
        let is1nan = false;
        if (!numbersString[0]) return (output.textContent = "Need input.");
        const numbers = [];
        numbersString.forEach((arg) => {
            if (arg.replace(" ", "").length == 0) return;
            if (isNaN(parseInt(arg))) {
                is1nan = true;
            }
            numbers.push(parseInt(arg));
        });
        if (is1nan)
            return (output.innerHTML =
                "<b>One of the input numbers is not a number.</b>");
        let sum = 0;
        numbers.forEach((arg) => {
            if (arg > 2000) arg = 2000; // just dont bother for anything higher than 2000
            sum += parseInt(arg);
        });
        sum--;
        output.innerHTML = `Will reach <b>${sum}</b>, <b>${Math.ceil(sum * 1.4)}</b> with bonus.`;
    }
</script>
